<!-- Remove after testing -->
<link rel="stylesheet" href="../_assets/css/slide-show.css"> 
<script type="text/javascript" src="../_assets/js/side-show.js" defer></script>

<div class="slide-show-container">
    <button class="slide-show-button"></button>
    <div class="slide-show-content">0</div>
    <div class="slide-show-content">1</div>
    <div class="slide-show-content">2</div>
    <div class="slide-show-content">3</div>
    <div class="slide-show-content">4</div>
    <button class="slide-show-button"></button>
</div>