.slide-show-container {
    width: 100%;
    max-height: 100px;
    overflow: hidden;
    justify-content: space-evenly;
    position: relative;
}

.slides-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}

.slide-show-content {
    flex: 0 0 33.33%;
}

/* Temp for testing */
body {
    margin: 0;
}
.slide-show-content {
    width: 50px;
    height: 50px;
    background-color: blueviolet;
}